.container{
    margin-top: 1.25rem;
    margin-left: 14.37rem;
    margin-right: 1.87rem;
    margin-bottom: 1.87rem;
}

@media only screen and (max-width: 600px) {
    .container{
        margin-left: 3.43rem;
        margin-right: 0.31rem;
    }
   
  }