.outerDiv{
    display: flex;
    align-items: center;
    margin-left: 14.37rem;
}
.innerDiv{
    margin: 0.625rem;
}
@media only screen and (max-width: 600px) {
    .outerDiv{
        margin-left: 3.43rem;
    }
  }