
 .outerDiv{
    margin-top: 10px;
    margin-left: 220px;
    margin-right: 30px;
}
.innerDiv{
    margin-left: 220px;
}

.button{
    background-color: rgb(232,247,239);
    color: rgb(131,212,166);
    border: none;
    padding: 5px;
}


.openseatButton{
    margin-left: 15px;
    padding: 5px;
    font-size: 10px;
    color: rgb(58,112,209);
    background-color: white;
    border: 0.001rem solid rgb(194, 190, 190);
}


.expandButton{
    border: 0.001rem solid rgb(194, 190, 190);
    background-color: white;
}


@media only screen and (max-width: 600px) {
    .outerDiv{
        margin-left: 55px;
        margin-right: 5px;
    }
    .innerDiv{
        margin-left: 0;
    }
  }