.outerDiv{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(58,112,209);
}

.list{
    color: white;
}


.menuBar{
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 5px;
    display: none;
}


@media only screen and (max-width: 600px) {
    .outerDiv{
        /* display: none; */
        /* width: 100px; */
        width: 50px;
    }
    .textItem{
        display: none;
        
    }

    .menuBar{
        display: block;
        margin-right: 0;
    }

    
    .bildempImage{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
}
  